<footer class="custom-footer text-white">
  <div class="container py-4 d-flex flex-column flex-md-row justify-content-between align-items-center">
    <div class="footer-info">
      <h4 class="mb-2">Dominique Mota</h4>
      <p>Autora apaixonada por histórias que tocam o coração. 💖<br>Leia no Wattpad e siga nas redes sociais!</p>

      <div class="social-icons ">
        <a href="https://www.instagram.com/dominique.mota12?utm_source=qr&igsh=d2dodHNhZG9rZTM4" target="_blank" class="me-2"><i class="bi bi-instagram"></i></a>
        <a href="#" target="_blank" class="me-2"><i class="bi bi-whatsapp"></i></a>
        <a href="https://www.wattpad.com/user/DominiqueAbreu12?_LoginTime=1753235515988" target="_blank"><i class="bi bi-book"></i></a>
      </div>
    </div>

    <div class="footer-img mt-4 mt-md-0">
      <img src="img/foto.png" alt="Foto da Dominique" />
    </div>
  </div>

  <div class="text-center py-2 small copyright">
    &copy; 2025 por Dominique Mota | Todos os direitos reservados
  </div>
</footer>




