
<header>
  <div id="header">
         <a class="header-brand" routerLink="/sobre">Dominique Mota</a>
    <!-- Menu Sanduiche -->
    <div class="fa-solid fa-bars" id="navbar-icon"></div>
    <!--Opções Menu -->
    <ul class="navbar-header">
       <li class="nav-item">
       <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeMenu()">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sobre" routerLinkActive="active" (click)="closeMenu()">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ebooks" routerLinkActive="active" (click)="closeMenu()">eBooks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contato" routerLinkActive="active" (click)="closeMenu()">Contato</a>
      </li>
    </ul>
  </div>
</header>

