

<div class="container px-4 px-md-5">>
 <div id="escritoraCarousel" class="carousel slide mt-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/carrossel1.jpg" class="d-block w-100 carousel-img" alt="Escritora escrevendo">
        <div class="carousel-caption d-none d-md-block">
          <h5>Conheça a autora por trás dos romances</h5>
          <p>Histórias que tocam o coração</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/carrossel2.jpg" class="d-block w-100 carousel-img" alt="Livro de romance">
        <div class="carousel-caption d-none d-md-block">
          <h5>Amor, emoção e paixão</h5>
          <p>Descubra os romances mais encantadores</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/carrossel3.jpg" class="d-block w-100 carousel-img" alt="Autora com livro">
        <div class="carousel-caption d-none d-md-block">
          <h5>Biblioteca de emoções</h5>
          <p>Explore todos os livros da autora</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#escritoraCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#escritoraCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>

