<div class="modal fade" id="cookieModal" tabindex="-1" aria-labelledby="cookieModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title" id="cookieModalLabel">Aviso de Cookies</h5>
      </div>
      <div class="modal-body">
        Este site usa cookies para melhorar sua experiência. Ao continuar navegando, você concorda com isso.
      </div>
      <div class="modal-footer justify-content-center">
        <button class="btn btn-primary" (click)="aceitarCookies()">Aceitar</button>
      </div>
    </div>
  </div>
</div>

